<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
  <meta charset="UTF-8">
  <title>Customer - Add</title>
</head>
<body>
<!-- wajib ada-->
<div class="container-fluid" layout:fragment="content">
  <!-- Small boxes (Stat box) wajib ada-->
  <div class="row">
    <!-- wajib ada -->
    <div class="col-12">
      <!-- widged -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Customer Data</h3>
        </div>

        <form th:action="@{/customer/save}" method="post">
          <div class="card-body">
            <div class="form-group row">
              <label for="code" class="col-sm-2 col-form-label">Code</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="code" name="code" placeholder="code">
              </div>
            </div>
            <div class="form-group row">
              <label for="name" class="col-sm-2 col-form-label">Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="name" placeholder="name">
              </div>
            </div>
            <div class="form-group row">
              <label for="description" class="col-sm-2 col-form-label">description</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="description" name="description" placeholder="description">
              </div>
            </div>
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <button type="submit" class="btn btn-info">Sign in</button>
            <a th:ref="@{~/category}" class="btn btn-default float-right">Cancel</a>
          </div>
          <!-- /.card-footer -->
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>