<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Customer Index</title>
</head>
<body>
<!-- wajib ada-->
<div class="container-fluid" layout:fragment="content">
    <!-- Small boxes (Stat box) wajib ada-->
    <div class="row">
        <!-- wajib ada -->
        <div class="col-12">
            <!-- widged -->
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Product Data</h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default">
                                    <i class="fas fa-search"></i>
                                </button>

                                <a th:href="@{/product/add}" class="btn btn-default btn-info">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Expire Date</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item :${dataList}">
                            <td th:text="${item.code}">code</td>
                            <td th:text="${item.name}">name</td>
                            <td th:text="${item.categoryName}">description</td>
                            <td th:text="${item.price}">price</td>
                            <td th:text="${item.expireDate}">Expire Date</td>
                            <td>
                                <a th:href="@{/product/edit/{id}(id=${item.id}) }" class="btn btn-xs btn-warning">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a th:href="@{/product/detail/{id}(id=${item.id}) }" class="btn btn-xs btn-success">
                                    <i class="fas fa-eye"></i>
                                </a>
                                <a th:href="@{/product/delete/{id}(id=${item.id}) }" class="btn btn-xs btn-danger">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>